.container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.icons {
    position: relative;
    padding-right: 1rem;
}

@media (prefers-color-scheme: dark) {
    .container {
        background-color: #222;
    }
}