/*.messageItem {
    position: relative;
}
.messageItem:last-child, .texts:last-child {
    margin-bottom: 0;
}
.messageDiv {
    position: relative;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
}*/

.container {
    position: relative;
}
/*
.container:last-child {
    margin-bottom: 0;
}
*/

.userContent {
    background-color: #e6e6e6;
    position: relative;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
}

.characterContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
    margin: 1rem 1rem;
}

.icon {
    position: relative;
    width: 120px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.message {
    position: relative;
    padding-left: 1rem;
    width: calc(100% - 120px);
}

.profile {
    margin-top: .5rem;
}
.name {
    font-size: .8rem;
    text-transform: capitalize;
    text-align: center;
}
.description {
    font-size: .6rem;
    opacity: 0.8;
    /*text-transform: capitalize;*/
    text-align: center;
}



/** ###### */
.div {
    position: relative;
    border-radius: 4px;
    margin: 1rem;
    padding: 1rem;
}

.user {
    background-color: #e6e6e6;
}

.assistant {
    background-color: #e6f2ff;
}

.texts {
    position: relative;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.paratext {
    position: relative;
    margin-bottom: 1rem;
}
.paratext:last-child {
    margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {

    .user {
        background-color: #444;
    }

    .assistant {
        background-color: #004080;
    }

    .userContent {
        background-color: #444;
    }

}